<div class="btn-group-md button-group1">
  <button id="projects_students" type="button" class="btn btn-primary">Заполнить таблицу проектов</button>
  <button id="students_projects" type="button" class="btn btn-primary">Заполнить таблицу студентов</button>
</div>
<div class="btn-group-md button-group2">
  <button id="table1" type="button" class="btn btn-primary toggle-btn">Скрыть\отобразить таблицу проектов</button>
  <button id="table2" type="button" class="btn btn-primary toggle-btn">Скрыть\отобразить таблицу студентов</button>
  <button id="clickme" type="button" class="btn btn-primary toggle-btn">Скрыть\отобразить обе таблицы</button>
</div>

<div class="table-responsive">
  <div class="cp-title">
    Курсовое проектирование
  </div>
  <table class="cp-table table table-hover">
    <tr class="success">
      <th class="">Синоним</th>
      <th class="">Название проекта</th>
      <th class="">Участники проекта</th>
      <th class="">Руководитель проекта</th>
    </tr>
    <!--<tr>
      <td class="project">

      </td>
      <td class="project-participants">
        <ul>
          
        </ul>
      </td>
      <td class="project-manager">

      </td>
    </tr>-->
  </table>
</div>

<div class="table-responsive">
  <table class="student-table table table-hover">
    <tr class="success">
      <th class="">Студент</th>
      <th class="">Проекты</th>
    </tr>
    <!--<tr>
      <td class="project">

      </td>
      <td class="project-participants">
        <ul>
          
        </ul>
      </td>
      <td class="project-manager">

      </td>
    </tr>-->
  </table>
</div>